<%- partial('_partial/head') %>
<%- partial('_partial/header') %>

<main class="about-page-content">
  <h1 class="about-title"><%= page.title %></h1>

  <h2 class="about-subtitle">Senior Technophilosopher - Ottawa, CAN</h2>


  <div class="about-body">
    <%- page.content %>
  </div>
</main>

<%- partial('_partial/footer') %>
</body>
</html>