<article class="page" itemscope itemtype="http://schema.org/Article">
  <header id="page-banner">
    <div class="outer">
      <div id="page-banner-inner" class="inner">
        <h1 id="page-title" itemprop="name"><%= page.title %></h1>
        <a href="https://github.com/hexojs/site/blob/master/source/<%- page.path.replace(/\.html$/, '.md') %>" title="Improve this doc" id="page-edit-link"></a>
      </div>
    </div>
  </header>
  <div class="outer">
    <div id="mobile-menu-wrap"></div>
    <div class="page-content">
      <div class="toc-wrap">
        <strong class="toc-title">Contents</strong>
        <%- toc(page.content) %>
      </div>
      <div class="page-entry" itemprop="articleBody">
        <%- page.content %>
      </div>
      <footer id="page-footer">
        <time id="page-footer-updated" datetime="<%= date_xml(page.updated) %>" itemprop="dateModified">Last updated: <%= date(page.updated) %></time>
        <%- page_nav() %>
      </footer>
      <% if (page.comments && config.disqus_shortname){ %>
      <section id="comments">
        <div id="disqus_thread">
          <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </section>
      <% } %>
    </div>
    <%- partial('_partial/sidebar') %>
  </div>
</article>